.title {
       	margin-top: -350px;
       	text-align: center; 
       	color: rgba(255,255,255,0.6);
       	font-size: 40pt;
    	font-family: sans-serif; 
}

#Linkedin {
       	width = 60px; 
       	height = 30px; 
       	background-color: rgb(255,255,255, 0.8); 
        margin-top: -300px;
}


    